DATABASE_URL="mysql://root@localhost:3306/crew_investment"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="crew_investment"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
PORT=2107
ADMIN_PORTAIL_URL=localhost:2104
GUEST_PORTAIL_URL=localhost:2105
SMTP_HOST="localhost"
SMTP_PORT=1025
FINAMIX_SMTP_HOST=node74-eu.n0c.com
FINAMIX_SMTP_USER=murel@finamix.alfyns-group.com
FINAMIX_SMTP_PASS="!MurelUlrich123"
FINAMIX_SMTP_PORT=465