DATABASE_URL="mysql://root@localhost:3306/crew_investment"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="crew_investment"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
PORT=2107
ADMIN_PORTAIL_URL=localhost:2104
GUEST_PORTAIL_URL=localhost:2105
SMTP_HOST="localhost"
SMTP_PORT=1025
FOOTBALL_API_URL=https://api.football-data.org/v4
FOOTBALL_API_KEY=11febd4d7d3c4603805f462fea69b257
NOTCHPAY_PUBLIC_KEY=pk_test.zaC686khxtbuVQ7GEg85Td00alpUdjdlJ2jpFm2cbvHCJxiBBYXF4cghoLybmeYYUAnJSb078r16bmmz9VNJSol19yQoGaoVOzSP7eLsHskZLcdc8C3KzmUs1RqDk
NOTCHPAY_PRIVATE_KEY=sk_test.4w0DSRMo1rFDkFhu8zBJkF911RZMjrWdKpVQwTEbdAGIpqKW7cx2oHcQNMsOekgmXJITzHsgisC11W9xd1CPKBH9KAaldcMCqMShPXN9woRcoXEPQBJxkPKPtTsal
NOTCHPAY_HASH_KEY=hsk_test.qLK42ep50I1ZfL2O2rd49AJHenZEA32ycuUl8nGOegYpUKrvOCJzk1WM94XMNvebt1oE3yGbaIkTGqlMK23jPy9ovZu6IwtncqivZp67Av7gj5Csm8q8v121ZX5i0